# ~/.tmux.conf -*- mode: conf -*-

set -g base-index      1
set -g pane-base-index 1
set -g mouse           on

set-option -g default-shell /bin/zsh

set -g default-terminal     "screen-256color"
set -sg terminal-overrides  ",*:RGB:clipboard"

set -g set-titles on
set -g set-titles-string "#W"

# run "sh -c 'test -d ~/.local/share/tpm || (mkdir -p ~/.local/share/tpm; env -C ~/.local/share/ git clone https://github.com/tmux-plugins/tpm)'"
# run-shell /usr/bin/env sh -c 'if ! test -d ~/src/extrakto.tmux; then tmux split git clone https://github.com/laktak/extrakto ~/src/extrakto.tmux ; fi; ~/src/extrakto.tmux'

run-shell ~/.local/share/tpm/tpm

# :: plugins ::
set -g @plugin "tmux-plugins/tpm"
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin "jaclu/tmux-menus"
set -g @plugin "rickstaa/tmux-notify"
set -g @plugin "roosta/tmux-fuzzback"
set -g @plugin "tmux-plugins/tmux-sensible"
set -g @plugin 'laktak/extrakto'
set -g @plugin "wfxr/tmux-fzf-url"
set -g @plugin "wfxr/tmux-power"

# :plugin wfxr/tmux-fzf-url
set -g @fzf-url-bind          'Tab'
set -g @fzf-url-open          '~/bin/,'
set -g @fzf-url-history-limit '2000'
set -g @fzf-url-fzf-options   '-w 50% -h 50% --multi -0 --no-preview --no-border'

# ::customize looks::
# set -g @pane-stem  "#{pane_current_path}#[fg=blue]#{@tmp}#{E:@tmp}#{@zsh-plugins}"
set -g @pane-stem  "#{pane_current_path}#[fg=blue]#{@tmp}"
set -g @RC         "(#[fg=#{@color}]#{@rc}#[fg=off])"
set -g @buffer     "#[fg=#{@color}]#{@shell-buffer}#[fg=off]"

#
set -g @active     "#{E:@pane-stem}#{E:@eval}"
set -g @inactive   "#{E:@pane-stem}#[fg=blue]"
set -g @inactive   ''

set -g @red   colour9
set -g @green colour10


set-option -g pane-border-status top
set-option -g pane-border-format @inactive
set-option -g synchronize-panes  off

set-hook -g after-split-window 'select-layout tiled'
set-hook -g after-kill-pane    'select-layout tiled'
set-hook -g pane-focus-out     'set-option -p pane-border-format "#{E:@inactive}"'
set-hook -g pane-focus-in      'set-option -p pane-border-format "#{E:@active}"'

set -s command-alias[0] cap='capture-pane -C -p -S -'
set -s command-alias[1] capp='capture-pane -C -p -S - -t"{last}"'
set -s command-alias[2] capl='capture-pane -C -p -S - -t"{left}"'
set -s command-alias[3] capr='capture-pane -C -p -S - -t"{right}"'
set -s command-alias[4] sync='set synchronize-panes'
set -s command-alias[5] pop='display-popup -E'
set -s command-alias[6] reload='source-file $HOME/.tmux.conf'

set -g @fzf 'fzf --ansi'

set -g prefix C-Space

set-option -gw xterm-keys on

unbind -T prefix t
unbind -n M-y
unbind -n M-t
unbind -n 'M-`'
unbind C-b
unbind -n C-t
unbind -n C-t
unbind C-p
unbind Space
unbind C-o

bind-key -n C-z resize-pane -Z
bind-key -n 'M-`' display-popup -E
bind-key -n M-Tab select-pane -t'{previous}'
bind-key -n M-S-Tab select-pane -t'{next}'
bind-key -n M-1 select-pane -t1
bind-key -n M-2 select-pane -t2
bind-key -n M-3 select-pane -t3
bind-key -n M-4 select-pane -t4
bind-key -n M-\} next-layout
bind-key -n M-\{ previous-layout
bind-key -n M-\] next-window
bind-key -n M-\[ previous-window
bind-key -n 'C-\'   new-window -c '#{pane_current_path}' \; select-layout tiled
bind-key -n 'C-S-\' split-window -c '#{pane_current_path}' \; select-layout tiled
bind-key -n C-t display-popup 'tmux pipep -p | fzf --multi | xargs tmux send '

# prefix bindings
bind-key C-s setw synchronize-panes
bind-key C-p pipe-pane -o 'cat >>~/output.#I-#P'

unbind -n C-t
